:root {
  --bg-color: #ffffff;
  --hero-background: #2e2f42;
  --text: #434455;
  --button-color-normal: #4d5ae5;
  --button-color-hover: #404bbf;
  --button-bg: #e7e9fc;
  --our-team: #f4f4fd;
  --nav: #e7e9fc;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text);
}

.logo {
  color: var(--button-color-normal);

  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--hero-background);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}
.menu:hover,
.menu:focus {
  color: var(--button-color-hover);
}
.address {
  font-style: normal;
}
.contacts {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--button-color-hover);
}
.section-main {
  background-color: var(--hero-background);
}
.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-color-normal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--bg-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--button-color-hover);
}
.content-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-foto {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
}
.our-team {
  background-color: var(--our-team);
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
}
.footer {
  background-color: var(--hero-background);
}
.logo-footer {
  color: var(--button-color-normal);

  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.content-footer {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.studio-footer {
  color: var(--our-team);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team {
  background-color: var(--bg-color);
  width: 264px;
  height: 380px;
}
.buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--our-team);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--button-color-normal);
  cursor: pointer;
}
.buttons:hover,
.buttons:focus {
  color: var(--bg-color);
  background: var(--button-color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
