:root {
  --bg-color: #ffffff;
  --hero-background: #2e2f42;
  --text: #434455;
  --button-color-normal: #4d5ae5;
  --button-color-hover: #404bbf;
  --button-bg: #e7e9fc;
  --our-team: #f4f4fd;
  --nav: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text);
}

.ul-nav {
  list-style: none;
}
.logo {
  color: var(--button-color-normal);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--hero-background);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.menu {
  text-decoration: none;
  color: var(--hero-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu:hover,
.menu:focus {
  color: var(--button-color-hover);
  text-decoration: none;
}
.mail,
.tell {
  color: var(--text);
  font-style: normal;
  text-decoration: none;
}
.mail:hover,
.mail:focus,
.tell:hover,
.tell:focus {
  color: var(--button-color-hover);
}
